@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&family=Roboto+Slab&display=swap');

body {
  background-color: #f11b6d;
  color: white;
}

h1 {
  color: white;
  font-size: 50px;
  text-align: center;
  font-family: 'Proza Libre', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
  font-family: 'Proza Libre', sans-serif;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  display: block; /* Establece la imagen como bloque para poder aplicar márgenes */
  margin: 0 auto; /* Establece un margen automático izquierdo y derecho para centrar la imagen */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/** START STYLES TO HOME */

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.search {
  width: 20px;
  height: 20px;
}

input {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

.header-icon {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.data {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.data div {
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2em;
}

.symbol {
  font-weight: bold;
  font-family: 'Roboto', monospace;
  font-size: 1.4em;
}

.data div:nth-child(4n-3) {
  background-color: #ec4c8a;
}

.data div:nth-child(4n) {
  background-color: #ec4c8a;
}

.data div:nth-child(4n-1) {
  background-color: #ef97b6;
}

.data div:nth-child(4n-2) {
  background-color: #ef97b6;
}

.enter-icon {
  width: 30px;
  height: 30px;
  align-self: flex-end;
  justify-self: flex-start;
  margin-right: 10%;
  color: white;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/** END STYLES TO HOME */

/** START STYLES TO CONTENT */

.cross-icon {
  width: 30px;
  height: 30px;
}

.cross-container {
  background-color: #ec4c8a;
  padding: 15px;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ec4c8a;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
